# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# production
/build
/.build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

\.idea/

\.vscode/
serverless\.env\.yml
